.l-customer {
  @include mq(pc) {
    padding: 100px 30px;
  }

  @include mq(sp) {
    padding: 50px 30px;
  }
}

.l-customer__titleImg {
  margin: 0 auto;

  @include mq(pc) {
    max-width: 220px;
    max-height: 60px;
  }

  @include mq(sp) {
    max-width: 150px;
    max-height: 35px;
  }
}

.l-customer__contents {
  @include mq(pc) {
    margin: 50px auto 0;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
  }

  @include mq(sp) {
    margin: 20px auto;
    max-width: 400px;
  }
}

.l-customer__pcVoice {
  width: 30%;

  @include mq(sp) {
    display: none;
  }
}

.l-customer__spVoice {
  margin-top: 10px;

  @include mq(pc) {
    display: none;
  }
}
