.l-facility {
  background-image: url(images/bg_paper.jpg);
}

.l-facility__inner {
  background: rgba(255, 255, 255, 0.4);

  @include mq(pc) {
    padding: 150px 30px 0;
  }

  @include mq(sp) {
    padding: 50px 30px 0;
  }
}

.l-facility__titleImg {
  margin: 0 auto;

  @include mq(sp) {
    max-width: 150px;
    max-height: 35px;
  }
}

.l-facility__mainContents {
  @include mq(pc) {
    max-width: 1000px;
    margin: 50px auto 0;
  }

  @include mq(sp) {
    max-width: 400px;
    margin: 30px auto 0;
  }
}

.l-facility__wrapper {
  @include mq(pc) {
    display: flex;
    justify-content: space-between;
  }
}

.l-facility__dataTitle {
  display: flex;
  gap: 0 5%;

  @include mq(pc) {
    width: 35%;
    align-items: flex-start;
    flex: 0 3 460px;
  }

  @include mq(sp) {
    align-items: center;
  }
}

.l-facility__img {
  @include mq(pc) {
    width: 45px;
    height: 55px;
  }

  @include mq(sp) {
    width: 25px;
    height: 35px;
  }
}

.l-facility__heading {
  color: #67510F;

  @include mq(pc) {
    font-size: 30px;
    height: 55px;
  }

  @include mq(sp) {
    font-size: 20px;
  }
}

.l-facility__dataContents {
  color: #67510F;

  @include mq(pc) {
    font-size: 20px;
    width: 460px;
    letter-spacing: .7px;
    line-height: 1.8;
  }
}

.l-facility__cafeImg {
  margin: 25px auto 0;
}

.l-facility__dataTexts {
  display: flex;
  justify-content: space-between;

  @include mq(sp) {
    margin-top: 10px;
  }
}

.l-facility__dataTexts:first-of-type {
  @include mq(pc) {
    margin-top: 15px;
  }
}

.l-facility__dataTexts:nth-of-type(4) {
  @include mq(pc) {
    margin-top: 15px;
  }
}

.l-facility__dataText {
  @include mq(sp) {
    font-size: 14px;
  }
}

.l-facility__supplement {
  @include mq(pc) {
    font-size: 15px;
  }

  @include mq(sp) {
    margin-top: 10px;
    font-size: 10px;
    letter-spacing: 1px;
  }
}

.l-facility__supplement:first-of-type {
  @include mq(pc) {
    margin-top: 15px;
  }
}
