.l-footer {
  @include mq(pc) {
    margin-top: -100px;
    z-index: 5;
    position: relative;
  }
}

.l-footer__inner {
  background-color: #66CC00;

  @include mq(pc) {
    padding-top: 5%;
    border-radius: 1000px 1000px 0 0 / 150px 150px 0 0;
    width: 100vw;
  }
}

.l-footer__top {
  @include mq(pc) {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    z-index: 10;
  }
}

.l-footer__topImg {
  @include mq(pc) {
    width: 8vw;
    height: 8vw;
  }
}

.l-footer__wrapper {
  @include mq(pc) {
    max-width:1100px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }
}

.l-footer__tel {
  color: #67510F;

  @include mq(pc) {
    font-size: 12px;
    margin-top: 15px;
  }
}

.l-footer__number {
  color: #FFFFFF;

  @include mq(pc) {
    font-size: 14px;
  }
}

.l-footer__postCode {
  color: #67510F;

  @include mq(pc) {
    margin-top: 15px;
    font-size: 12px;
  }
}

.l-footer__address {
  color: #67510F;

  @include mq(pc) {
    font-size: 12px;
  }
}

.l-footer__supplement {
  background-color: #88CD29;
  color: #67510F;

  @include mq(pc) {
    padding: 7px;
    margin-top: 15px;
    width: 240px;
    font-size: 12px;
  }
}

.l-footer__sns {
  @include mq(pc) {
    display: flex;
    gap: 0 15px;
    text-align: center;
  }
}

.l-footer__icon {
  @include mq(pc) {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
}

.l-footer__facebook {
  color: #67510F;

  @include mq(pc) {
    font-size: 12px;
  }
}

.l-footer__twiter {
  color: #67510F;

  @include mq(pc) {
    font-size: 12px;
  }
}

.l-footer__copyright {
  color: #503A1280;

  @include mq(pc) {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
  }
}
