.l-footer {
  margin-top: -100px;
  z-index: 5;
  position: relative;
}

.l-footer__inner {
  background-color: #66CC00;
  border-radius: 1000px 1000px 0 0 / 150px 150px 0 0;

  @include mq(pc) {
    padding-top: 5%;
    width: 100vw;
  }

  @include mq(sp) {
    padding: 15px;
  }
}

.l-footer__top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;

  @include mq(pc) {
    top: -10%;
  }

  @include mq(sp) {
    top: -30px;
  }
}

.l-footer__topImg {
  @include mq(pc) {
    width: 8vw;
    height: 8vw;
  }

  @include mq(sp) {
    width: 15vw;
    height: 15vw;
    max-width: 100px;
    max-height: 100px;
  }
}

.l-footer__wrapper {
  margin: 0 auto;

  @include mq(pc) {
    max-width:1100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  @include mq(sp) {
    max-width: 400px;
    padding-top: 200px;
  }
}

.l-footer__info {
  text-align: center;
}

.l-footer__img {
  @include mq(sp) {
    margin: 0 auto;
  }
}

.l-footer__tel {
  @include mq(pc) {
    color: #67510F;
    font-size: 12px;
    margin-top: 15px;
  }

  @include mq(sp) {
    color: #FFFFFF;
    font-size: 10px;
    margin-top: 10px;
  }
}

.l-footer__br {
  @include mq(sp) {
    display: none;
  }
}

.l-footer__number {
  color: #FFFFFF;
  font-size: 14px;

  @include mq(sp) {
    margin-left: 5px;
  }
}

.l-footer__postCode {
  color: #67510F;
  margin-top: 15px;
  font-size: 12px;

  @include mq(sp) {
    display: none;
  }
}

.l-footer__address {
  color: #67510F;
  font-size: 12px;

  @include mq(sp) {
    display: none;
  }
}

.l-footer__spAddress {
  color: #67510F;
  font-size: 10px;
  margin-top: 10px;

  @include mq(pc) {
    display: none;
  }
}

.l-footer__supplement {
  background-color: #88CD29;
  color: #67510F;
  padding: 7px;

  @include mq(pc) {
    margin-top: 15px;
    width: 240px;
    font-size: 12px;
  }

  @include mq(sp) {
    margin: 10px auto 0;
    width: 200px;
    font-size: 10px;
  }
}

.l-footer__sns {
  display: flex;

  @include mq(pc) {
    gap: 0 15px;
    text-align: center;
  }

  @include mq(sp) {
    gap: 0 30px;
    justify-content: center;
    margin-top: 20px;
  }
}

.l-footer__icon {
  @include mq(pc) {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  @include mq(sp) {
    width: 50px;
    height: 50px;
  }
}

.l-footer__facebook {
  color: #67510F;

  @include mq(pc) {
    font-size: 12px;
  }

  @include mq(sp) {
    font-size: 10px;
    text-align: center;
  }
}

.l-footer__twiter {
  color: #67510F;

  @include mq(pc) {
    font-size: 12px;
  }

  @include mq(sp) {
    font-size: 10px;
    text-align: center;
  }
}

.l-footer__copyright {
  color: #503A1280;
  text-align: center;

  @include mq(pc) {
    margin: 0 auto;
    font-size: 12px;
    max-width: 1000px;
    padding: 20px 0;
  }

  @include mq(sp) {
    margin-top: 20px;
    font-size: 10px;
  }
}

.l-footer__copyBr {
  @include mq(pc) {
    display: none;
  }
}
