.l-map {
  background-image: url(images/bg_paper.jpg);
}

.l-map__inner {
  background: rgba(255, 255, 255, 0.4);

  @include mq(pc) {
    padding: 100px 50px;
  }
}

.l-map_wrapper {
  background-color: #F5F5F5;

  @include mq(pc) {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 900px;
  }
}

.l-map__contents {
  color: #67510F;

  @include mq(pc) {
    max-width: 650px;
    margin: 0 auto;
    padding: 50px 0;
  }
}

.l-map__title {
  @include mq(pc) {
    font-size: 35px;
    font-weight: normal;
    text-align: center;
  }
}

.l-map__drawing {
  background-color: #FFFFFF;

  @include mq(pc) {
    margin-top: 50px;
    width: 100%;
    height: 400px;
  }
}

.l-map__postCode {
  @include mq(pc) {
    margin-top: 12px;
    font-size: 12px;
  }
}

.l-map__container {
  @include mq(pc) {
    margin-top: 5px;
    display: flex;
    gap: 30px;
  }
}

.l-map__address {
  @include mq(pc) {
    font-size: 20px;
    font-weight: bold;
  }
}

.l-map__link {
  @include mq(pc) {
    text-decoration: underline;
  }
}

.l-map__supplement {
  @include mq(pc) {
    margin-top: 10px;
    font-size: 12px;
  }
}

.l-map__time {
  @include mq(pc) {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}
