.l-map {
  background-image: url(images/bg_paper.jpg);
}

.l-map__inner {
  background: rgba(255, 255, 255, 0.4);

  @include mq(pc) {
    padding: 100px 50px;
  }

  @include mq(sp) {
    padding: 50px 15px;
  }
}

.l-map_wrapper {
  background-color: #F5F5F5;

  @include mq(pc) {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 900px;
  }

  @include mq(sp) {
    padding: 15px;
  }
}

.l-map__contents {
  color: #67510F;
  margin: 0 auto;

  @include mq(pc) {
    max-width: 650px;
    padding: 50px 0;
  }

  @include mq(sp) {
    max-width: 400px;
  }
}

.l-map__title {
  font-weight: normal;
  text-align: center;

  @include mq(pc) {
    font-size: 35px;
  }

  @include mq(sp) {
    font-size: 20px;
  }
}

.l-map__drawing {
  background-color: #FFFFFF;

  @include mq(pc) {
    margin-top: 50px;
    width: 100%;
    height: 400px;
  }

  @include mq(sp) {
    margin: 20px auto 0;
    max-height: 250px;
    height: 50vw;
  }
}

.l-map__postCode {
  @include mq(pc) {
    margin-top: 12px;
    font-size: 12px;
  }

  @include mq(sp) {
    margin-top: 10px;
    font-size: 10px;
  }
}

.l-map__container {
  margin-top: 5px;

  @include mq(pc) {
    display: flex;
    gap: 30px;
  }
}

.l-map__address {
  font-weight: bold;

  @include mq(pc) {
    font-size: 20px;
  }

  @include mq(sp) {
    font-size: 14px;
  }
}

.l-map__link {
  text-decoration: underline;

  @include mq(sp) {
    font-size: 10px;
  }
}

.l-map__supplement {
  margin-top: 10px;

  @include mq(pc) {
    font-size: 12px;
  }

  @include mq(sp) {
    font-size: 10px;
  }
}

.l-map__time {
  margin-top: 10px;
  font-weight: bold;

  @include mq(pc) {
    font-size: 20px;
  }

  @include mq(sp) {
    font-size: 14px;
  }
}
