.l-price {
  background-image: url(images/bg_paper.jpg);
}

.l-price__inner {
  background: rgba(255, 255, 255, 0.4);

  @include mq(pc) {
    padding: 150px 30px 0;
  }

  @include mq(sp) {
    padding: 45px 30px 0;
  }
}

.l-price__titleImg {
  margin: 0 auto;

  @include mq(sp) {
    max-width: 150px;
    max-height: 35px;
  }
}

.l-price__mainContents {
  @include mq(pc) {
    max-width: 1000px;
    margin: 50px auto 0;
  }

  @include mq(sp) {
    max-width: 400px;
    margin: 0 auto;
  }
}

.l-price__mainContent {
  @include mq(pc) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  @include mq(sp) {
    margin-top: 25px;
  }
}

.l-price__mainContent + .l-price__mainContent {
  @include mq(pc) {
    margin-top: 30px;
  }
}

.l-price__dataTitle {
  @include mq(pc) {
    width: 35%;
    display: flex;
    align-items: flex-start;
    gap: 0 5%;
    flex: 0 3 460px;
  }

  @include mq(sp) {
    display: flex;
    align-items: center;
    gap: 0 5%;
  }
}

.l-price__img {
  @include mq(pc) {
    width: 45px;
    height: 55px;
  }

  @include mq(sp) {
    width: 30px;
    height: 30px;
  }
}

.l-price__heading {
  color: #67510F;

  @include mq(pc) {
    font-size: 30px;
    width: 155px;
    height: 55px;
  }

  @include mq(sp) {
    font-size: 20px;
  }
}

.l-price__dataContent {
  @include mq(pc) {
    width: 500px;
    line-height: 1.8;
  }
}

.l-price__dataImg {
  @include mq(pc) {
    margin: 0 auto;
  }

  @include mq(sp) {
    margin-top: 10px;
  }
}

.l-price__dataWrapper {
  @include mq(pc) {
    display: flex;
    justify-content: space-between;
  }

  @include mq(sp) {
    display: flex;
    justify-content: space-between;
  }
}

.l-price__dataTexts + .l-price__dataTexts {
  @include mq(pc) {
    margin-top: 15px;
  }
}

.l-price__dataText {
  color: #67510F;

  @include mq(pc) {
    font-size: 20px;
  }

  @include mq(sp) {
    margin-top: 15px;
    font-size: 14px;
  }
}

.l-price__supplement {
  color: #67510F;

  @include mq(pc) {
    font-size: 14px;
  }

  @include mq(sp) {
    margin-top: 5px;
    font-size: 10px;
  }
}

.l-price__subTitle {
  color: #67510F;
  text-align: center;
  font-weight: normal;
  margin-top: 50px;

  @include mq(pc) {
    font-size: 35px;
  }

  @include mq(sp) {
    font-size: 20px;
  }
}

.l-price__lists {
  color: #67510F;
  line-height: 2;

  @include mq(pc) {
    display: block;
    width: 650px;
    margin: 0 auto;
    font-size: 20px;
    letter-spacing: .7px;
  }

  @include mq(sp) {
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.l-price__item {
  text-indent: -1em;
}

.l-price__item:before {
  content: "・";
}
