.l-top {
  @include mq(pc) {
    padding: 100px 120px 150px;
    background-image: url(images/bg_overview_pc.jpg);
  }

  @include mq(sp) {
    padding: 25px 30px;
    background-image: url(images/bg_overview_sp.jpg);
    background-size: cover;
  }
}

.l-top__inner {
  @include mq(pc) {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.l-top__mainContents {
  margin: 0 auto;

  @include mq(pc) {
    max-width: 650px;
    text-align: center;
  }

  @include mq(sp) {
    max-width: 400px;
  }
}

.l-top__mainTitle {
  color: #67510F;
  margin: 0 auto;

  @include mq(pc) {
    width: fit-content;
  }

  @include mq(sp) {
    width: 250px;
    text-align: center;
  }
}

.l-top__text {
  color: #67510F;
  margin-top: 20px;
  line-height: 1.8;
  letter-spacing: .7px;

  @include mq(pc) {
    font-size: 20px;
  }

  @include mq(sp) {
    font-size: 14px;
  }
}

.l-top__subContents {
  display: flex;
  justify-content: space-between;

  @include mq(pc) {
    margin-top: 40px;
  }

  @include mq(sp) {
    margin: 20px auto 0;
    max-width: 400px;
  }
}

.l-top__article {
  color: #67510F;

  @include mq(pc) {
    flex: 0 1 460px;
  }
}

.l-top__subTitle {
  font-weight: normal;

  @include mq(pc) {
    font-size: 30px;
  }

  @include mq(sp) {
    font-size: 20px;
  }
}

.l-top__spImg {
  @include mq(pc) {
    display: none;
  }

  @include mq(sp) {
    margin-top: 10px;
  }
}

.l-top__subText {
  line-height: 1.8;
  letter-spacing: .7px;
  margin-top: 10px;

  @include mq(pc) {
    font-size: 20px;
  }

  @include mq(sp) {
    font-size: 14px;
  }
}

.l-top__pcImg {
  @include mq(pc) {
    width: 460px;
  }

  @include mq(sp) {
    display: none;
  }
}
