<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>いずみざきブルーベリーの丘</title>
</head>
<body>
  <header class="l-header">
    <div class="l-header__inner">
      <div class="l-header__image">
        <div class="l-header__imageInner">
          <div class="l-header__imageText">
            <img src="images/text_header_sub_pc.svg" alt="">
          </div>
          <div class="l-header__imageButton">
            <!-- リンク先は後ほど記載 -->
            <a href="" class="l-header__imageButtonLink">
              <img src="images/text_header_guide.svg" alt="" class="l-header__imageGuide">
            </a>
          </div>
        </div>
      </div>
      <nav class="l-header__nav">
        <div class="l-header__navInner">
          <div class="l-header__contents">
            <div class="l-header__contentsMessage">
              <p>お持ち帰りや配送も可能！<br>詳しくは下記をご覧ください！</p>
            </div>
            <div class="l-header__contentsTel">
              <p>お電話でのお問い合わせ<span class="l-header__telNumber">0248-21-8666</span></p>
            </div>
          </div>
          <div class="l-header__menu">
            <ul class="l-header__menuLists">
              <!-- リンク先は後ほど記載 -->
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_top.png" alt=""></a></li>
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_overview.png" alt=""></a></li>
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_info.png" alt=""></a></li>
            </ul>
            <ul class="l-header__menuLists">
              <!-- リンク先は後ほど記載 -->
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_fee.png" alt=""></a></li>
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_voice.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <section class="l-top">
    <div class="l-top__inner">
      <div class="l-top__mainContents">
        <h1 class="l-top__mainTitle">
          <img src="images/text_overview.svg" alt="">
        </h1>
        <p class="l-top__text">ブルーベリーに思いをよせ、栽培を始め<br>2年経った6月の末、まるで宝石のように美しい果実が<br>実をつけたあの時、あの感動に魅せられ、<br>こだわりのブルーベリーを栽培しております。<br>2013年のオープンより量より質を求め品種も<br>当初の13種類から23種類に増えました。<br>1200本のブルーベリーがすべて実るのには<br>2020年になりますが「質」を念頭に栽培を続けます。</p>
      </div>
      <div class="l-top__subContents">
        <div class="l-top__article">
          <h2 class="l-top__subTitle">泉崎ブルーベリーの丘の特徴とブルーベリーの美味しさ</h2>
          <p class="l-top__subText">当園は名称の通り小高い丘の上にあり地下150mからのミネラル豊富な地下水（ナノ水）と、花から実になって完熟まで酵素を噴霧してこだわりの美味しいブルーベリーを23品種栽培し、訪れていただいた方に喜ばれています。休憩所（カフェ）がありますから家族づれでゆっくり（時間制限なし）楽しみながら摘みとりができます。カフェでブルーベリー生ジュース等を楽しめます。</p>
        </div>
        <div class="l-top__img">
          <img src="images/image_overview.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="l-info">
    <div class="l-info__inner">
      <h1 class="l-info__mainTitle">
        <img class="l-info__titleImg" src="images/text_info.svg" alt="">
      </h1>
      <div class="l-info__articles">
        <div class="l-info__article">
          <div class="l-info__content">
            <h2 class="l-info__articleTitle">カーラズチョイス</h2>
            <p class="l-info__articleText">甘味と酸味のバランスが良好・しっかりとした味が特徴。<br>毎年このブルーベリを求めて多くの方が遠方から当園へいらっしゃいます。<br>そのまま食べてもよし、ジャムにしてヨーグルトやパンと共に食べるもよし。<br>様々な食べ方で、いつもの食事が少し贅沢になるかも！？</p>
          </div>
          <div class="l-info__img">
            <img src="images/image_info_berry_01.jpg" alt="">
          </div>
        </div>
        <div class="l-info__article">
          <div class="l-info__content">
            <h2 class="l-info__articleTitle">チャンドラー</h2>
            <p class="l-info__articleText">特徴はなんと言ってもその大きさ！なんと500円玉ほどの圧倒的なサイズで食べ応え十分。<br>風味良好・完熟実は酸味と甘みがあり美味しい。<br>噂を聞いたお客様がわざわざ東京からお越しになることもあります。<br>お土産にも最適！<br>是非一度、本物を味わってみてください！！</p>
          </div>
          <div class="l-info__img">
            <img src="images/image_info_berry_02.jpg" alt="">
          </div>
        </div>
        <div class="l-info__article">
          <div class="l-info__content">
            <h2 class="l-info__articleTitle">オザークブルー</h2>
            <p class="l-info__articleText">パリッと実がしっかりとして、風味よし味よしの優等生。<br>太陽の光をいっぱい浴びて濃縮された甘味は特に小さいお子さんに大人気です。<br>そのまま食べたり、ジュースにしたり、おやつに最適です！</p>
          </div>
          <div class="l-info__img">
            <img src="images/image_info_berry_03.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="l-info__subContents">
        <h2 class="l-info__subTitle">商品紹介</h2>
        <div class="l-info__wrapper">
          <p class="l-info__subText">6月下旬（気候により多少変動）、風味のあるデュークからスタートし、酸味もあるが甘味が強いフロリダサファイア、風味のあるフロリダスター、甘くほのかな酸味のあるハナンズ・チョイス、果実は硬く風味のあるニューハノバー、甘み酸味のバランスがよいカーラズチョイスが7月上旬〜中旬、風味の高いブルークロップ、風味のすぐれるレガシー、特大サイズのチャンドラーと続き糖酸が調和しているブリジッタ、風味がすばらしいオザークブルーが7月下旬〜8月上旬で11品種のハイブッシュが終了し8月上旬〜8月中旬からはラビットアイのとても甘い中粒アラパハ、ピンク色の甘いピンクレモネード大粒で甘味のあるオクラッカニーで終了です。</p>
          <p class="l-info__subText">また2019年にはハイブッシュ系の晩生新品種、大粒リバティ（7月下旬〜8月中旬）、大粒オーロラ（8月中旬〜9月上旬）が摘み取とれます。2020年にはハイブッシュ系新品種大粒メドラーク（6月下7月〜上旬）大粒ドレイパー（7月中旬〜8月上旬）、大粒〜特大トワライト（7月上旬〜中旬）、大粒エメラルド（7月上旬〜中旬）、ラビット渓の大粒〜特大タイタン（7月下旬〜8月中旬）、中粒ブライトウェル（7月下旬〜8月中旬）、大粒オンズロー（8月中旬〜9月中旬）楽しみな品種を栽培しています。全ての本数は1200本になります。<br>プルーンも棚栽培で植栽してみました（試栽培）</p>
        </div>
      </div>
    </div>
  </section>
  <section class="l-price">
    <div class="l-price__inner">
      <h1 class="l-price__mainTitle">
        <img class="l-price__titleImg" src="images/text_fee.svg" alt="">
      </h1>
      <div class="l-price__mainContents">
        <dl class="l-price__mainContent">
          <dt class="l-price__dataTitle">
            <img class="l-price__img" src="images/icon_fee_calender.svg" alt="">
            <span class="l-price__heading">期間</span>
          </dt>
          <dd class="l-price__dataContent"><img class="l-price__dataImg" src="images/img_calender.png" alt=""></dd>
        </dl>
        <dl class="l-price__mainContent">
          <dt class="l-price__dataTitle">
            <img class="l-price__img" src="images/icon_time.svg" alt="">
            <span class="l-price__heading">営業時間</span>
          </dt>
          <dd class="l-price__dataContent">
            <p class="l-price__dataText">午前10:00〜午後5:00</p>
            <p class="l-price__supplement">※雨の日は休園になります（営業中はノボリ旗が立っています）</p>
          </dd>
        </dl>
        <dl class="l-price__mainContent">
          <dt class="l-price__dataTitle">
            <img class="l-price__img" src="images/icon_fee_wallet.svg" alt="">
            <span class="l-price__heading">入園料</span>
          </dt>
          <dd class="l-price__dataContent">
            <h3 class="l-price__dataText">ブルーベリー摘みとり食べ放題</h3>
            <div class="l-price__dataWrapper">
              <p class="l-price__dataText">中学生以上</p>
              <p class="l-price__dataText">500円</p>
            </div>
            <div class="l-price__dataWrapper">
              <p class="l-price__dataText">小学生以下</p>
              <p class="l-price__dataText">300円</p>
            </div>
            <p class="l-price__supplement">※時間制限はありません</p>
            <p class="l-price__supplement">※カフェご利用のみのお客様・ブルーベリー購入のみのお客様は入園料無料です。</p>
          </dd>
        </dl>
        <dl class="l-price__mainContent">
          <dt class="l-price__dataTitle">
            <img class="l-price__img" src="images/icon_fee_shop.svg" alt="">
            <span class="l-price__heading">販売価格</span>
          </dt>
          <dd class="l-price__dataContent">
            <div class="l-price__dataWrapper">
              <p class="l-price__dataText">購入のみのお客様</p>
              <div>
                <p class="l-price__dataText">100g/300円</p>
                <p class="l-price__dataText">1kg/3000円</p>
              </div>
            </div>
            <div class="l-price__dataWrapper">
              <p class="l-price__dataText">摘みとりお買い上げのお客様</p>
              <div>
                <p class="l-price__dataText">100g/230円</p>
                <p class="l-price__dataText">1kg/2300円</p>
              </div>
            </div>
            <p class="l-price__supplement">※全て税込価格です。</p>
          </dd>
        </dl>
        <dl class="l-price__mainContent">
          <dt class="l-price__dataTitle">
            <img class="l-price__img" src="images/icon_fee_box.svg" alt="">
            <span class="l-price__heading">宅配・配送</span>
          </dt>
          <dd class="l-price__dataContent">
            <div class="l-price__dataTexts">
              <p class="l-price__dataText">宅配等パックに詰めます。</p>
              <p class="l-price__dataText">250gパック入りで1kgでの配送です。</p>
            </div>
            <div class="l-price__dataTexts">
              <p class="l-price__dataText">宅配便で配送をいたします。</p>
              <p class="l-price__dataText">購入品発送1kg3200円（箱代・税込）</p>
              <p class="l-price__dataText">摘み取り発送1kg2600円（箱代・税込）</p>
            </div>
            <p class="l-price__supplement">※送料別</p>
          </dd>
        </dl>
        <h2 class="l-price__subTitle">ルール・規約について</h2>
        <div class="l-price__lists">
          <ul class="l-price__list">
            <li class="l-price__item">ブルーベリーの木々を傷つけないでください。</li>
            <li class="l-price__item">ブルーベリーの緑の実や赤い実は食べ頃ではないので摘まないでください。</li>
            <li class="l-price__item">ブルーベリーの品種はその時に1番美味しいものをご案内させていただきます。詳しくはお問い合わせください。</li>
            <li class="l-price__item">無農薬のため毛虫がいることもありますのでご了承ください。</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="l-facility">
    <div class="l-facility__inner">
      <h1 class="l-facility__mainTitle">
        <img class="l-facility__titleImg" src="images/text_guide.svg" alt="">
      </h1>
      <div class="l-facility__mainContents">
        <dl class="l-facility__wrapper">
          <dt class="l-facility__dataTitle">
            <img class="l-facility__img" src="images/icon_drink.png" alt="">
            <span class="l-facility__heading">休憩所・カフェ</span>
          </dt>
          <dd class="l-facility__dataContents">
            <p>期間限定甘味を販売！カフェだけのご利用もできます（入園料は無料）</p>
            <img class="l-facility__cafeImg" src="images/image_cafe.png" alt="">
            <div class="l-facility__dataTexts">
              <p class="l-facility__dataText">ブルーベリー生ジュース</p>
              <p class="l-facility__dataText">350円</p>
            </div>
            <div class="l-facility__dataTexts">
              <p class="l-facility__dataText">ブルーベリバニラアイス</p>
              <p class="l-facility__dataText">350円</p>
            </div>
            <div class="l-facility__dataTexts">
              <p class="l-facility__dataText">ブルーかき氷</p>
              <p class="l-facility__dataText">350円</p>
            </div>
            <p class="l-facility__supplement">お土産に最適なブルーベリージャムなどのご用意もございます。ぜひお立ち寄りください。</p>
            <p class="l-facility__supplement">ミニログハウスにお手洗いがあります。</p>
            <div class="l-facility__dataTexts">
              <p class="l-facility__dataText">手作りブルーベリージャム</p>
              <p class="l-facility__dataText">200g/600円</p>
            </div>
            <div class="l-facility__dataTexts">
              <p class="l-facility__dataText">ブルーベリーソース</p>
              <p class="l-facility__dataText">200g/600円</p>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </section>
  <section class="l-map">
    <div class="l-map__inner">
      <div class="l-map_wrapper">
        <div class="l-map__contents">
          <h2 class="l-map__title">経路案内</h2>
          <div class="l-map__drawing"></div>
          <p class="l-map__postCode">〒969-0105</p>
          <div class="l-map__container">
            <p class="l-map__address">福島県西白河郡泉崎村大字踏瀬字大山3</p>
            <a class="l-map__link" href="">Google Mapへ</a>
          </div>
          <p class="l-map__supplement">矢吹インター手前、泉崎踏瀬の信号を右折、右側の坂道を登ると看板が出ています。</p>
          <p class="l-map__time">営業時間　午前10時〜午後5時</p>
          <p class="l-map__supplement">期間外は閉園です。</p>
          <p class="l-map__supplement">詳しくはお問い合わせください。</p>
        </div>
      </div>
    </div>
  </section>
  <section class="l-customer">
    <div class="l-customer__inner">
      <h1 class="l-customer__title">
        <img class="l-customer__titleImg" src="images/text_voice.svg" alt="">
      </h1>
      <div class="l-customer__contents">
        <img class="l-customer__voice" src="images/image_voice_01_pc.jpg" alt="">
        <img class="l-customer__voice" src="images/image_voice_02_pc.jpg" alt="">
        <img class="l-customer__voice" src="images/image_voice_03_pc.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="l-contact">
    <div class="l-contact__inner">
      <div class="l-contact__wrapper">
        <h1 class="l-contact__title">
          <img class="l-contact__titleImg" src="images/text_form_ask.png" alt="">
        </h1>
        <div class="l-contact__container">
          <form action="#" method="post">
            <div class="l-contanct__form">
              <label class="l-contact__label" for="">お名前</label>
              <input class="l-contact__input" type="text" name="" id="" placeholder="山田　花子">
            </div>
            <div class="l-contanct__form">
              <label class="l-contact__label" for="">フリガナ</label>
              <input class="l-contact__input" type="text" name="" id="" placeholder="ヤマダ　ハナコ">
            </div>
            <div class="l-contanct__form">
              <label class="l-contact__label" for="">メールアドレス</label>
              <input class="l-contact__input" type="text" name="" id="" placeholder="aaaaaa@blueberry.jp">
            </div>
            <div class="l-contanct__form">
              <label class="l-contact__label" for="">確認用メールアドレス</label>
              <input class="l-contact__input" type="text" name="" id="" placeholder="aaaaaa@blueberry.jp">
            </div>
            <div class="l-contanct__form">
              <label class="l-contact__label" for="">内容</label>
              <textarea class="l-contact__textarea" name="" id="" cols="30" rows="5" placeholder="例：オススメの食べ方はありますか。"></textarea>
            </div>
            <button class="l-contact__button">確認</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer class="l-footer">
    <div class="l-footer__inner">
      <div class="l-footer__wrapper">
        <div class="l-footer__info">
          <img src="images/text_footer.svg" alt="">
          <p class="l-footer__tel">お急ぎの方は電話で<br><span class="l-footer__number">0248-21-8666</span></p>
          <p class="l-footer__postCode">〒969-0105</p>
          <p class="l-footer__address">福島県西白河郡泉崎村大字踏瀬字大山3</p>
          <p class="l-footer__supplement">秋田犬の繁殖も行なっておりますので、お気軽にあ問い合わせください。</p>
        </div>
        <div class="l-footer__sns">
          <a class="l-footer__link" href="">
            <img class="l-footer__icon" src="images/icon_footer_facebook.svg" alt="">
            <p class="l-footer__facebook">Facebook<br>に投稿</p>
          </a>
          <a class="l-footer__link"  href="">
            <img class="l-footer__icon" src="images/icon_footer_twitter.png" alt="">
            <p class="l-footer__twiter">twitter<br>に投稿</p>
          </a>
        </div>
      </div>
      <p class="l-footer__copyright">運営会社　株式会社イワキ　<span>&copy;<span>2023 Iwaki inc.</p>
    </div>
  </footer>
</body>
</html>
