<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>いずみざきブルーベリーの丘</title>
</head>
<body>
  <header class="l-header">
    <div class="l-header__inner">
      <div class="l-header__image">
        <div class="l-header__imageInner">
          <div class="l-header__imageText">
            <img src="images/text_header_sub_pc.svg" alt="">
          </div>
          <div class="l-header__imageButton">
            <!-- リンク先は後ほど記載 -->
            <a href="" class="l-header__imageButtonLink">
              <img src="images/text_header_guide.svg" alt="" class="l-header__imageGuide">
            </a>
          </div>
        </div>
      </div>
      <nav class="l-header__nav">
        <div class="l-header__navInner">
          <div class="l-header__contents">
            <div class="l-header__contentsMessage">
              <p>お持ち帰りや配送も可能！<br>詳しくは下記をご覧ください！</p>
            </div>
            <div class="l-header__contentsTel">
              <p>お電話でのお問い合わせ<span class="l-header__telNumber">0248-21-8666</span></p>
            </div>
          </div>
          <div class="l-header__menu">
            <ul class="l-header__menuLists">
              <!-- リンク先は後ほど記載 -->
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_top.png" alt=""></a></li>
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_overview.png" alt=""></a></li>
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_info.png" alt=""></a></li>
            </ul>
            <ul class="l-header__menuLists">
              <!-- リンク先は後ほど記載 -->
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_fee.png" alt=""></a></li>
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_voice.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <section class="l-top">
    <div class="l-top__inner">
      <div class="l-top__mainContents">
        <h1 class="l-top__mainTitle">
          <img src="images/text_overview.svg" alt="">
        </h1>
        <p class="l-top__text">ブルーベリーに思いをよせ、栽培を始め<br>2年経った6月の末、まるで宝石のように美しい果実が<br>実をつけたあの時、あの感動に魅せられ、<br>こだわりのブルーベリーを栽培しております。<br>2013年のオープンより量より質を求め品種も<br>当初の13種類から23種類に増えました。<br>1200本のブルーベリーがすべて実るのには<br>2020年になりますが「質」を念頭に栽培を続けます。</p>
      </div>
      <div class="l-top__subContents">
        <div class="l-top__article">
          <h2 class="l-top__subTitle">泉崎ブルーベリーの丘の特徴とブルーベリーの美味しさ</h2>
          <p class="l-top__subText">当園は名称の通り小高い丘の上にあり地下150mからのミネラル豊富な地下水（ナノ水）と、花から実になって完熟まで酵素を噴霧してこだわりの美味しいブルーベリーを23品種栽培し、訪れていただいた方に喜ばれています。休憩所（カフェ）がありますから家族づれでゆっくり（時間制限なし）楽しみながら摘みとりができます。カフェでブルーベリー生ジュース等を楽しめます。</p>
        </div>
        <div class="l-top__img">
          <img src="images/image_overview.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="l-info">
    <div class="l-info__inner">
      <h1 class="l-info__mainTitle">
        <img class="l-info__titleImg" src="images/text_info.svg" alt="">
      </h1>
      <div class="l-info__articles">
        <div class="l-info__article">
          <div class="l-info__content">
            <h2 class="l-info__articleTitle">カーラズチョイス</h2>
            <p class="l-info__articleText">甘味と酸味のバランスが良好・しっかりとした味が特徴。<br>毎年このブルーベリを求めて多くの方が遠方から当園へいらっしゃいます。<br>そのまま食べてもよし、ジャムにしてヨーグルトやパンと共に食べるもよし。<br>様々な食べ方で、いつもの食事が少し贅沢になるかも！？</p>
          </div>
          <div class="l-info__img">
            <img src="images/image_info_berry_01.jpg" alt="">
          </div>
        </div>
        <div class="l-info__article">
          <div class="l-info__content">
            <h2 class="l-info__articleTitle">チャンドラー</h2>
            <p class="l-info__articleText">特徴はなんと言ってもその大きさ！なんと500円玉ほどの圧倒的なサイズで食べ応え十分。<br>風味良好・完熟実は酸味と甘みがあり美味しい。<br>噂を聞いたお客様がわざわざ東京からお越しになることもあります。<br>お土産にも最適！<br>是非一度、本物を味わってみてください！！</p>
          </div>
          <div class="l-info__img">
            <img src="images/image_info_berry_02.jpg" alt="">
          </div>
        </div>
        <div class="l-info__article">
          <div class="l-info__content">
            <h2 class="l-info__articleTitle">オザークブルー</h2>
            <p class="l-info__articleText">パリッと実がしっかりとして、風味よし味よしの優等生。<br>太陽の光をいっぱい浴びて濃縮された甘味は特に小さいお子さんに大人気です。<br>そのまま食べたり、ジュースにしたり、おやつに最適です！</p>
          </div>
          <div class="l-info__img">
            <img src="images/image_info_berry_03.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="l-info__subContents">
        <h2 class="l-info__subTitle">商品紹介</h2>
        <div class="l-info__wrapper">
          <p class="l-info__subText">6月下旬（気候により多少変動）、風味のあるデュークからスタートし、酸味もあるが甘味が強いフロリダサファイア、風味のあるフロリダスター、甘くほのかな酸味のあるハナンズ・チョイス、果実は硬く風味のあるニューハノバー、甘み酸味のバランスがよいカーラズチョイスが7月上旬〜中旬、風味の高いブルークロップ、風味のすぐれるレガシー、特大サイズのチャンドラーと続き糖酸が調和しているブリジッタ、風味がすばらしいオザークブルーが7月下旬〜8月上旬で11品種のハイブッシュが終了し8月上旬〜8月中旬からはラビットアイのとても甘い中粒アラパハ、ピンク色の甘いピンクレモネード大粒で甘味のあるオクラッカニーで終了です。</p>
          <p class="l-info__subText">また2019年にはハイブッシュ系の晩生新品種、大粒リバティ（7月下旬〜8月中旬）、大粒オーロラ（8月中旬〜9月上旬）が摘み取とれます。2020年にはハイブッシュ系新品種大粒メドラーク（6月下7月〜上旬）大粒ドレイパー（7月中旬〜8月上旬）、大粒〜特大トワライト（7月上旬〜中旬）、大粒エメラルド（7月上旬〜中旬）、ラビット渓の大粒〜特大タイタン（7月下旬〜8月中旬）、中粒ブライトウェル（7月下旬〜8月中旬）、大粒オンズロー（8月中旬〜9月中旬）楽しみな品種を栽培しています。全ての本数は1200本になります。<br>プルーンも棚栽培で植栽してみました（試栽培）</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
