<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>いずみざきブルーベリーの丘</title>
</head>
<body>
  <header class="l-header">
    <div class="l-header__inner">
      <div class="l-header__image">
        <div class="l-header__imageInner">
          <div class="l-header__imageText">
            <img src="images/text_header_sub_pc.svg" alt="">
          </div>
          <div class="l-header__imageButton">
            <!-- リンク先は後ほど記載 -->
            <a href="" class="l-header__imageButtonLink">
              <img src="images/text_header_guide.svg" alt="" class="l-header__imageGuide">
            </a>
          </div>
        </div>
      </div>
      <nav class="l-header__nav">
        <div class="l-header__navInner">
          <div class="l-header__contents">
            <div class="l-header__contentsMessage">
              <p>お持ち帰りや配送も可能！<br>詳しくは下記をご覧ください！</p>
            </div>
            <div class="l-header__contentsTel">
              <p>お電話でのお問い合わせ<span class="l-header__telNumber">0248-21-8666</span></p>
            </div>
          </div>
          <div class="l-header__menu">
            <ul class="l-header__menuLists">
              <!-- リンク先は後ほど記載 -->
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_top.png" alt=""></a></li>
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_overview.png" alt=""></a></li>
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_info.png" alt=""></a></li>
            </ul>
            <ul class="l-header__menuLists">
              <!-- リンク先は後ほど記載 -->
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_fee.png" alt=""></a></li>
              <li><a href=""><img class="l-header__linkImg" src="images/text_menu_voice.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <section class="l-top">
    <div class="l-top__inner">
      <div class="l-top__mainContents">
        <h1 class="l-top__mainTitle">
          <img src="images/text_overview.svg" alt="">
        </h1>
        <p class="l-top__text">ブルーベリーに思いをよせ、栽培を始め<br>2年経った6月の末、まるで宝石のように美しい果実が<br>実をつけたあの時、あの感動に魅せられ、<br>こだわりのブルーベリーを栽培しております。<br>2013年のオープンより量より質を求め品種も<br>当初の13種類から23種類に増えました。<br>1200本のブルーベリーがすべて実るのには<br>2020年になりますが「質」を念頭に栽培を続けます。</p>
      </div>
      <div class="l-top__subContents">
        <div class="l-top__article">
          <h2 class="l-top__subTitle">泉崎ブルーベリーの丘の特徴とブルーベリーの美味しさ</h2>
          <p class="l-top__subText">当園は名称の通り小高い丘の上にあり地下150mからのミネラル豊富な地下水（ナノ水）と、花から実になって完熟まで酵素を噴霧してこだわりの美味しいブルーベリーを23品種栽培し、訪れていただいた方に喜ばれています。休憩所（カフェ）がありますから家族づれでゆっくり（時間制限なし）楽しみながら摘みとりができます。カフェでブルーベリー生ジュース等を楽しめます。</p>
        </div>
        <div class="l-top__img">
          <img src="images/image_overview.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
</body>
</html>
